<%= form_for @workout_template do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :description, placeholder: "Workout description", class: "form-control" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :image, placeholder: "Image link (optional)", class: "form-control" %>
  </div>
  <br>

  <h4>Which category does your workout belong to:</h4>
  <% @categories.each do |category| %>
    <div class="field radio">
      <% if @workout_template.category %>
        <% if @workout_template.category.name == category.name %>
          <input type="radio" name="category" value="<%=category.name%>" checked="checked"><%= category.name %><br>
        <% else %>
          <input type="radio" name="category" value="<%=category.name%>"><%= category.name %><br>
        <% end %>
      <% else %>
        <input type="radio" name="category" value="<%=category.name%>"><%= category.name %><br>
      <% end %>
    </div>
  <% end %>

  <h4>Would you like your workout to be:</h4>
  <div class="field radio">
    <% if @workout_template.id %>
      <% if @workout_template.private_status == false %>
        <input type="radio" name="private_status" value="false" checked="checked"> Public <br>
        <input type="radio" name="private_status" value="true"> Private <br>
      <% else %>
        <input type="radio" name="private_status" value="false"> Public <br>
        <input type="radio" name="private_status" value="true" checked="checked"> Private <br>
      <% end %>
    <% else %>
      <input type="radio" name="private_status" value="false"> Public <br>
      <input type="radio" name="private_status" value="true"> Private <br>
    <% end %>
  </div>

  <h4>Would you like to add this workout to your favorites:</h4>
  <div class="field radio">
    <% if @favorite %>
      <input type="radio" name="favorite_status" value="true" checked="checked"> Yes <br>
      <input type="radio" name="favorite_status" value="false"> No <br>
    <% elsif @workout_template.id %>
      <input type="radio" name="favorite_status" value="true"> Yes <br>
      <input type="radio" name="favorite_status" value="false" checked="checked"> No <br>
    <% else %>
      <input type="radio" name="favorite_status" value="true"> Yes <br>
      <input type="radio" name="favorite_status" value="false"> No <br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Create new workout", class: "btn btn-success" %>
  </div>

<% end %>
