<h1><%= @workout_template.title %></h1>
<div class="timer">
  <div id="example-timer"></div>
</div>
<br>
<div id="log-workout">
  <%= form_for :workouts, url: workouts_path, method: :post do |f| %>
    <%= f.hidden_field :workout_template_id, value: params[:id] %>
    <%= f.submit "Log Workout", class: "btn btn-success" %>
  <% end %>
</div>

<p><%= @workout_template.description %></p>

<br>
<%= link_to 'Back', category_path(@category) %>
