<% if @groupmembers.include?(current_user) == false && @group.private_status == true %>
<h2> You must be a member of this group to view this page. Please contact the group's admin to be added to the group </h2>

<% else%>

<h2 class="table-title"><%= @group.name %>
  <% if current_user.is_group_admin?(@group) %>
    <a href=<%="/groups/#{@group.id}/edit"%>><button class="btn btn-info">Edit Group</button></a>
    <br>
  <% end %>
</h2>

<table class="table table-hover sortable" style="width:100%">
  <tr>
    <th class="table-header">Name</th>
    <th class="table-header">Last 7 Days</th>
    <th class="table-header">Last 31 Days</th>
    <th class="table-header">All Time</th>
    <% if current_user.is_group_admin?(@group) %>
    <th class="table-header">Remove User</th>
    <% end %>
  </tr>
  <% @groupmembers.each do |member| %>
    <tr>
      <td><a href=<%="/users/#{member.id}"%>><%= member.first_name + " " + member.last_name %></a></td>
      </td>
      <td><%= member.sort_most_common_workouts(7).values.reduce(:+) %></td>
      </td>
      <td><%= member.sort_most_common_workouts(31).values.reduce(:+) %></td>
      </td>
      <td><%= member.workouts.length %></td>
      </td>
      <% if current_user.is_group_admin?(@group) %>
        <td>
          <form method="POST" action=<%= "/groups_user/#{member.id}" %>>
            <input type="hidden" name="group_id" value=<%= "#{@group.id}" %>>
            <input name="_method" type="hidden" value="delete"/>
            <input type="submit" value="Remove User" class="btn btn-danger">
          </form>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.is_group_admin?(@group) %>
  Add New User:
  <form method="POST" action="/groups_user">
    <input type="hidden" name="group_id" value=<%="#{@group.id}"%> >
    <input type="text" name="new_user_email" placeholder="enter user email", class="form-control inline">
    <input type="submit" class="btn btn-success">
  </form>
<% end %>
<br>
<br>

<% if @groupmembers.include?(current_user) %>
  Comments:
  <ul>
    <% @groupcomments.each do |comment| %>
      <li><%= "#{comment.comment_text} - #{comment.member.first_name + " " + comment.member.last_name}, #{comment.created_at}" %>
        <% if comment.member_id == current_user.id %><br>
          <a href=<%="/group_comments/#{comment.id}/edit"%>>Edit Comment</a>
          <%= link_to "Delete Comment", group_comment_path(comment), method: :delete %>
        <%end%>
      </li>

    <% end %>
  </ul>



  Add comment:
    <form method="POST" action="/group_comments">
      <input type="hidden" name="comment[group_id]" value=<%="#{@group.id}"%> >
      <input type="hidden" name="comment[member_id]" value=<%="#{current_user.id}"%> >
      <input type="textarea" name="comment[comment_text]" placeholder="Add Your Comment", class="form-control inline">
      <input type="submit" value='Submit Comment' class="btn btn-success  ">
    </form>
    <br>
    <br>
  <% if !current_user.is_group_admin?(@group) %>
    <form method="POST" action=<%= "/groups_user/#{current_user.id}" %>>
      <input type="hidden" name="group_id" value=<%= "#{@group.id}" %>>
      <input name="_method" type="hidden" value="delete"/>
      <input type="submit" value="Leave Group" class="btn btn-danger">
    </form>
  <% end %>
<% else %>
  <h3>You must be a member of this group to comment... </h3>
<% end %>
<% end %>


