<h1 id="profile-title"><%= "#{@user.first_name}'s Stats" %></h1>
<% if @user.workouts.length > 0 %>
  <% if current_user == @user %>
  <div class="profile-social-buttons">
    <div class="fb-share-button" data-href='http://www.power-minute.com/users/<%="#{@user.id}"%>' data-layout="button" style:"float: right"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.power-minute.com/users/<%=current_user.id%>" data-text="Check Out My Profile on Power Minute! I'm getting buff:" data-dnt="true">Tweet</a>
      <script>
        !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
          }
        }
        (document, 'script', 'twitter-wjs');
      </script>
  </div>
  <a href="/user_log" style="align:right">Full Workout Log</a>
  <%end%>



<table id ="profile-main-table" width="100%" border="1px black" align="center">
  <tr>
    <th id="profile-main-header" colspan="3" > Total Power Minutes </th>
  </tr>
  <tr>
    <th class="profile-column-header column-7-pie #{@user.id}" id="last-7-header"> Last 7 Days</th>
    <th class="profile-column-header column-31-pie" id="last-31-header"> Last 31 Days</th>
    <th class="profile-column-header column-all-time-pie" id="all-time-header"> All Time </th>
  </tr>
  <tr>
    <td class="profile-data column-7-pie" id="last-7-stats"><%= @user.calculate_number_of_workouts(7) %></td>
    <td class="profile-data column-31-pie" id="last-31-stats"><%= @user.calculate_number_of_workouts(31) %></td>
    <td class="profile-data column-all-time-pie" id="all-time-stats"><%= @user.workouts.length %></td>
  </tr>
  <tr>
    Click columns to show new charts!
  </tr>
</table>

<div id="pie-chart-div">
  <h4 id ="line-chart-header"> Workout Categories </h4>
  <canvas id="myChart" width="225" height="225"></canvas>
  <script>
    url = window.location.pathname;
    $.get(url+"/31/pie", function( data ){
      $("#myChart").remove();
      $("#pie-chart-div").append('<canvas id="myChart" width="225" height="225"></canvas>')
      var ctx2 = document.getElementById("myChart").getContext("2d");

      data = [
        {
          value: data["Cardio"],
          color: "#F32C31",
          label: "Cardio"
        },
        {
          value: data["Yoga"],
          color: "#F0EADF",
          label: "Yoga"
        },
        {
          value: data["Power"],
          color: "#3F4045",
          label: "Power"
        }
      ]
      var myPieChart = new Chart(ctx2).Pie(data);
    });
  </script>
</div>
<h4 id ="line-chart-header"> Favorite Workouts </h4>
<div id="side-chart-div">

<canvas id="mySideChart" width="380" height="400"></canvas>
  <script>
    url = window.location.pathname;
    $.get(url+"/30/side", function( data ){
      $("#mySideChart").remove();
      $("#side-chart-div").append('<canvas id="mySideChart" width="380" height="400"></canvas>')
      var ctx3 = document.getElementById("mySideChart").getContext("2d");
      var data3 = {
        labels: [
          <% @user.sort_most_common_workouts(31).each_with_index do |(key, value), index| %>
            <% if index != @user.sort_most_common_workouts(31).keys.length - 1 %>
              "<%= key.to_s %>",
            <% else %>
              "<%= key.to_s %>"
            <% end %>
          <% end %>],
        datasets: [
          {
            label: "My First dataset",
            fillColor: "#F32C31",
            strokeColor: "rgba(243,44,49,.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: <%= "#{@user.sort_most_common_categories(31).values}" %>
          }
        ]
      };
    var myLineChart = new Chart(ctx3).Bar(data3);
    });
  </script>
</div>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<h4 id ="line-chart-header"> Workouts Over Time </h4>
<div id="top-workouts-chart">
  <canvas id="myLineChart" width="400" height="300"></canvas>

  <script>
    url = window.location.pathname;
    $.get(url+"/30/bar", function( data ){
      $("#myLineChart").remove();
      $("#top-workouts-chart").append('<canvas id="myLineChart" width="400" height="300"></canvas>')
      var ctx1 = document.getElementById("myLineChart").getContext("2d");
      var data1 = {
        labels: [
          <% @user.number_of_workouts_per_day(Date.today - 30, 3).each_with_index do |(key, value), index| %>
            <% if index != @user.number_of_workouts_per_day(Date.today - 30, 3).keys.length - 1 %>
              "<%= key.to_s %>",
            <% else %>
              "<%= key.to_s %>"
            <% end %>
          <% end %>],
        datasets: [
          {
            label: "My First dataset",
            fillColor: "#F32C31",
            strokeColor: "rgba(243,44,49,.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: <%= "#{@user.number_of_workouts_per_day(Date.today - 30, 3).values}" %>
          }
        ]
      };
    var myLineChart = new Chart(ctx1).Line(data1);
    });
  </script>
</div>
<% else %>
  <h1>You haven't done any workouts yet!</h1>
<% end %>
