

<h1 id="profile-title"><%= "#{@user.first_name}'s Stats" %></h1>
<% if @user.workouts.length > 0 %>
  <% if current_user == @user %>
  <div class="profile-social-buttons">
    <div class="fb-share-button" data-href='http://www.power-minute.com/users/<%="#{@user.id}"%>' data-layout="button" style:"float: right"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.power-minute.com/users/<%=current_user.id%>" data-text="Check Out My Profile on Power Minute! I'm getting buff:" data-dnt="true">Tweet</a>
      <script>
        !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
          }
        }
        (document, 'script', 'twitter-wjs');
      </script>
  </div>
  <a href="/user_log" style="align:right">Full Workout Log</a>
  <%end%>



<table id ="profile-main-table" width="100%" border="1px black" align="center">
  <tr>
    <th id="profile-main-header" colspan="3" > Total Power Minutes </th>
  </tr>
  <tr>
    <th class="profile-column-header column-7 #{@user.id}" id="last-7-header"> Last 7 </th>
    <th class="profile-column-header column-31" id="last-31-header"> Last 31 </th>
    <th class="profile-column-header column-all-time" id="all-time-header"> All Time </th>
  </tr>
  <tr>
    <td class="profile-data column-7" id="last-7-stats"><%= @user.calculate_number_of_workouts(7) %></td>
    <td class="profile-data column-31" id="last-31-stats"><%= @user.calculate_number_of_workouts(31) %></td>
    <td class="profile-data column-all-time" id="all-time-stats"><%= @user.workouts.length %></td>
  </tr>
  <tr>
    <td class="profile-data-change column-7 #{@user.id}" id="last-7-stats"><%= @user.calculate_change_in_workout_frequency(7,14) + " WoW" %></td>
    <td class="profile-data-change column-31" id="last-31-stats"><%= @user.calculate_change_in_workout_frequency(31,62)+" WoW" %></td>
    <td class="profile-data-change column-all-time" id="all-time-stats"></td>
  </tr>
</table>

<div id="pie-chart-div">
  <h1>Your top workouts by categories</h1>
  <canvas id="myChart" width="380" height="400"></canvas>
</div>

<div id="top-workouts-chart">

<canvas id="myLineChart" width="317" height="250"></canvas><br><br><br>
  <script>
    var ctx1 = document.getElementById("myLineChart").getContext("2d");
    var data1 = {
      labels: [
                <% @user.number_of_workouts_per_day.each_with_index do |(key, value), index| %>
                  <% if index != @user.number_of_workouts_per_day.keys.length - 1 %>
                    "<%= key.to_s %>",
                  <% else %>
                    "<%= key.to_s %>"
                  <% end %>
                <% end %>],
      datasets: [
          {
              label: "My First dataset",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: <%= "#{@user.number_of_workouts_per_day.values}" %>
          }
      ]
  };

    var myLineChart = new Chart(ctx1).Bar(data1);

  </script>
</div>





  <h3> All Time </h3>
  <%= "Total workouts: #{@total_workouts.length}" %>
  <ul>

    <% @user.sort_most_common_workouts(1000000).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>
  <h2> categories </h2>
    <% @user.sort_most_common_categories(1000000).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>

  </ul>


  <h3> Last 31 Days </h3>
  Total Workouts:
  <ul>

    <% @user.sort_most_common_workouts(31).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>
  <h2> categories </h2>
    <% @user.sort_most_common_categories(31).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>

  </ul>


  <h3> Last 7 Days </h3>
  <ul>

    <% @user.sort_most_common_workouts(7).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>
  <h2> categories </h2>
    <% @user.sort_most_common_categories(7).each do |key, value| %>

      <li>
        <%= "#{key}: #{value}" %>
      </li>

    <% end %>

  </ul>
<% else %>
  <h1>You haven't done any workouts yet!</h1>
<% end %>
