<div id="landing">
  <h1> Power Minute </h1>
  <br>
  <div id="log-in-form">
    <h2>Log in</h2>
    <center>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "login form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "login form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field checkbox">
          <%= f.check_box :remember_me %>Remember Me
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success" %>
      </div>
    <% end %>
    </center>
    <%= render "devise/shared/links" %>
    <button id="back-button" class="btn btn-info">Back Home</button>
  </div>
  <div id="sign-up-form">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
      </div><br>

      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last Name" %>
      </div><br>

      <div class="field">
        <%= f.text_field :timezone, placeholder: "-8" %>
      </div><br>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email" %>
      </div><br>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
      </div><br>

      <div class="actions">
        <button id="back-button" class="btn btn-info">Back Home</button>
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div><br>
    <% end %>
  </div>
  <button id="log-in" class="btn btn-success">Log In</button>
  <br>
  <br>
  <button id="sign-up" class="btn btn-success">Sign Up</button>
  <br>
  <br>
  <%= link_to image_tag("/fb_login.png"), user_omniauth_authorize_path(:facebook), class: "fb-login" %>
</div>
