<h1><%= @category.name %></h1>

<div class="workout-templates">
  <% @workout_templates.each do |workout_template| %>
    <div class="row workout-template-<%= workout_template.id %>">
      <div class="col-xs-10 col-md-11">
        <%= link_to workout_template.title, workout_template_path( workout_template) %>
      </div>

      <div class="col-xs-2 col-md-1 favorite-button" >
        <% favorite = current_user.favorites.find_by(workout_template_id: workout_template.id) %>
        <% unless favorite %>
          <%= render partial: 'favorites/category_add_favorite', locals: {workout_template: workout_template} %>
        <% else %>
          <%= render partial: 'favorites/category_remove_favorite', locals: {favorite: favorite} %>
        <% end %>

        <!-- <a class="fav-add" id="<%= workout_template.id %>" href="/users/<%= current_user.id %>/favorites">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </a> -->
<!--         <a class="fav-remove" id="<%=workout_template.id %>" href="/users/<%= current_user.id %>/favorites">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </a>
         -->
        <!-- <form id="favorite-post" method="POST" action="/users/<%= current_user.id %>/favorites">
          <input type="hidden" name="workout_template_id" value="<%=workout_template.id %>" >
          <%= button_tag(type: "submit") do %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <% end %>
        </form> -->
      </div>
    </div><br>

  <% end %>
  <br>
</div>

<%= link_to "Back", categories_path %>




